<!DOCTYPE html>
<!--[if lt IE 7 ]>
<html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>
<html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>
<html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en"> <!--<![endif]-->

<div class="background-white">
<div id="abilities" class="container">
<h2>Abilities</h2>
<p class="lead">
&ldquo;Life without knowledge is death in disguise.&rdquo;<br />- Talib Kweli
</p>

<hr />

<h3>Skills</h3>

<div class="row">
  <div class="col-md-6">
    <ul class="no-bullets">
      <li>
        <span class="ability-title">CSS(3)</span>
        <span class="ability-score">
          <span class="glyphicon glyphicon-star filled"></span>
          <span class="glyphicon glyphicon-star filled"></span>
          <span class="glyphicon glyphicon-star filled"></span>
          <span class="glyphicon glyphicon-star filled"></span>
          <span class="glyphicon glyphicon-star filled"></span>
        </span>
      </li>
      <li>
        <span class="ability-title">HTML(5)</span>
        <span class="ability-score">
          <span class="glyphicon glyphicon-star filled"></span>
          <span class="glyphicon glyphicon-star filled"></span>
          <span class="glyphicon glyphicon-star filled"></span>
          <span class="glyphicon glyphicon-star filled"></span>
          <span class="glyphicon glyphicon-star filled"></span>
        </span>
      </li>
    </ul>
  </div>
  <div class="col-md-6">
    <ul class="no-bullets">
      <li>
        <span class="ability-title">BEM</span>
        <span class="ability-score">
          <span class="glyphicon glyphicon-star filled"></span>
          <span class="glyphicon glyphicon-star filled"></span>
          <span class="glyphicon glyphicon-star filled"></span>
          <span class="glyphicon glyphicon-star "></span>
          <span class="glyphicon glyphicon-star "></span>
        </span>
      </li>
      <li>
        <span class="ability-title">AngularJS</span>
        <span class="ability-score">
          <span class="glyphicon glyphicon-star filled"></span>
          <span class="glyphicon glyphicon-star filled"></span>
          <span class="glyphicon glyphicon-star "></span>
          <span class="glyphicon glyphicon-star "></span>
          <span class="glyphicon glyphicon-star "></span>
        </span>
      </li>
    </ul>
  </div>
</div>

<div class="text-center project-referal">
  <p>This project is build on a custom made PHP framework.</p>
  <a href="https://github.com/pascalvgemert/resume" class="btn btn-primary" target="_blank">See project on Github</a>
</div>

<hr />

<h3>Languages</h3>

<div class="row">
  <div class="col-md-6">
    <ul class="no-bullets">
      <li>
        <span class="ability-title">Dutch (Mother tongue)</span>
        <span class="ability-score">
          <span class="glyphicon glyphicon-star filled"></span>
          <span class="glyphicon glyphicon-star filled"></span>
          <span class="glyphicon glyphicon-star filled"></span>
          <span class="glyphicon glyphicon-star filled"></span>
          <span class="glyphicon glyphicon-star filled"></span>
        </span>
      </li>
      <li>
        <span class="ability-title">English (Daily use)</span>
        <span class="ability-score">
          <span class="glyphicon glyphicon-star filled"></span>
          <span class="glyphicon glyphicon-star filled"></span>
          <span class="glyphicon glyphicon-star filled"></span>
          <span class="glyphicon glyphicon-star filled"></span>
          <span class="glyphicon glyphicon-star filled"></span>
        </span>
      </li>
    </ul>
  </div>
  <div class="col-md-6">
    <ul class="no-bullets">
      <li>
        <span class="ability-title">German (Survivable)</span>
        <span class="ability-score">
        <span class="glyphicon glyphicon-star filled"></span>
        <span class="glyphicon glyphicon-star filled"></span>
        <span class="glyphicon glyphicon-star "></span>
        <span class="glyphicon glyphicon-star "></span>
        <span class="glyphicon glyphicon-star "></span>
        </span>
      </li>
      <li>
        <span class="ability-title">French (Un petit peu)</span>
        <span class="ability-score">
        <span class="glyphicon glyphicon-star filled"></span>
        <span class="glyphicon glyphicon-star "></span>
        <span class="glyphicon glyphicon-star "></span>
        <span class="glyphicon glyphicon-star "></span>
        <span class="glyphicon glyphicon-star "></span>
        </span>
      </li>
    </ul>
  </div>
</div>


			</div>
</div>
