/Abilities section
/==================================================
#abilities
  .container
    %h1 Abilities
    %p.lead “Dynamic, self-governing, fast learner and out-of-the-box”
    %hr/
    %h3 Programming Skills
    .row
      .col-md-6
        %ul.no-bullets
          %li
            %span.ability-title VBA
            %span.ability-score
              %span.glyphicon.glyphicon-star.filled
              %span.glyphicon.glyphicon-star.filled
              %span.glyphicon.glyphicon-star.filled
              %span.glyphicon.glyphicon-star.filled
              %span.glyphicon.glyphicon-star
          %li
            %span.ability-title Ruby on Rails
            %span.ability-score
              %span.glyphicon.glyphicon-star.filled
              %span.glyphicon.glyphicon-star.filled
              %span.glyphicon.glyphicon-star
              %span.glyphicon.glyphicon-star
              %span.glyphicon.glyphicon-star
          %li
            %span.ability-title SQL
            %span.ability-score
              %span.glyphicon.glyphicon-star.filled
              %span.glyphicon.glyphicon-star.filled
              %span.glyphicon.glyphicon-star.filled
              %span.glyphicon.glyphicon-star
              %span.glyphicon.glyphicon-star
      .col-md-6
        %ul.no-bullets
          %li
            %span.ability-title CSS(3)
            %span.ability-score
              %span.glyphicon.glyphicon-star.filled
              %span.glyphicon.glyphicon-star.filled
              %span.glyphicon.glyphicon-star
              %span.glyphicon.glyphicon-star
              %span.glyphicon.glyphicon-star
          %li
            %span.ability-title HTML(5)
            %span.ability-score
              %span.glyphicon.glyphicon-star.filled
              %span.glyphicon.glyphicon-star.filled
              %span.glyphicon.glyphicon-star
              %span.glyphicon.glyphicon-star
              %span.glyphicon.glyphicon-star
          %li
            %span.ability-title Unix Shell
            %span.ability-score
              %span.glyphicon.glyphicon-star.filled
              %span.glyphicon.glyphicon-star.filled
              %span.glyphicon.glyphicon-star
              %span.glyphicon.glyphicon-star
              %span.glyphicon.glyphicon-star
    .text-center
      %p
        This project was created in 2 days with no prior knowledge of Ruby on Rails ...
        I told you I was a fast learner
        / Last version made in 5 days ... ok !
      %a.btn.btn-primary{:href => "https://github.com/AntoinePetit24/resume", :target => "_blank"} Have a look on Github
    %hr/
    %h3 Languages
    .row
      .col-md-6
        %ul.no-bullets
          %li
            %span.ability-title French (Mother tongue)
            %span.ability-score
              %span.glyphicon.glyphicon-star.filled
              %span.glyphicon.glyphicon-star.filled
              %span.glyphicon.glyphicon-star.filled
              %span.glyphicon.glyphicon-star.filled
              %span.glyphicon.glyphicon-star.filled
          %li
            %span.ability-title English (Daily use)
            %span.ability-score
              %span.glyphicon.glyphicon-star.filled
              %span.glyphicon.glyphicon-star.filled
              %span.glyphicon.glyphicon-star.filled
              %span.glyphicon.glyphicon-star.filled
              %span.glyphicon.glyphicon-star.filled
      .col-md-6
        %ul.no-bullets
          %li
            %span.ability-title Chinese Mandarin (Survival)
            %span.ability-score
              %span.glyphicon.glyphicon-star.filled
              %span.glyphicon.glyphicon-star.filled
              %span.glyphicon.glyphicon-star
              %span.glyphicon.glyphicon-star
              %span.glyphicon.glyphicon-star
    %hr/
    %h3 Office Tools
    .row
      .col-md-6
        %ul.no-bullets
          %li
            %span.ability-title Microsoft Excel (10+ years)
            %span.ability-score
              %span.glyphicon.glyphicon-star.filled
              %span.glyphicon.glyphicon-star.filled
              %span.glyphicon.glyphicon-star.filled
              %span.glyphicon.glyphicon-star.filled
              %span.glyphicon.glyphicon-star.filled
          %li
            %span.ability-title Microsoft Visio (3 years)
            %span.ability-score
              %span.glyphicon.glyphicon-star.filled
              %span.glyphicon.glyphicon-star.filled
              %span.glyphicon.glyphicon-star.filled
              %span.glyphicon.glyphicon-star.filled
              %span.glyphicon.glyphicon-star.filled
          %li
            %span.ability-title Microsoft Word (10+ years)
            %span.ability-score
              %span.glyphicon.glyphicon-star.filled
              %span.glyphicon.glyphicon-star.filled
              %span.glyphicon.glyphicon-star.filled
              %span.glyphicon.glyphicon-star.filled
              %span.glyphicon.glyphicon-star
          %li
            %span.ability-title Microsoft PowerPoint (10+ years)
            %span.ability-score
              %span.glyphicon.glyphicon-star.filled
              %span.glyphicon.glyphicon-star.filled
              %span.glyphicon.glyphicon-star.filled
              %span.glyphicon.glyphicon-star.filled
              %span.glyphicon.glyphicon-star
          %li
            %span.ability-title Adobe Illustrator (personal usage)
            %span.ability-score
              %span.glyphicon.glyphicon-star.filled
              %span.glyphicon.glyphicon-star.filled
              %span.glyphicon.glyphicon-star
              %span.glyphicon.glyphicon-star
              %span.glyphicon.glyphicon-star
      .col-md-6
        %ul.no-bullets
          %li
            %span.ability-title Windows 7 (5 years)
            %span.ability-score
              %span.glyphicon.glyphicon-star.filled
              %span.glyphicon.glyphicon-star.filled
              %span.glyphicon.glyphicon-star.filled
              %span.glyphicon.glyphicon-star.filled
              %span.glyphicon.glyphicon-star
          %li
            %span.ability-title Mac (2 years)
            %span.ability-score
              %span.glyphicon.glyphicon-star.filled
              %span.glyphicon.glyphicon-star.filled
              %span.glyphicon.glyphicon-star.filled
              %span.glyphicon.glyphicon-star
              %span.glyphicon.glyphicon-star
          %li
            %span.ability-title ITRS Geneos (1 full year)
            %span.ability-score
              %span.glyphicon.glyphicon-star.filled
              %span.glyphicon.glyphicon-star.filled
              %span.glyphicon.glyphicon-star.filled
              %span.glyphicon.glyphicon-star.filled
              %span.glyphicon.glyphicon-star
          %li
            %span.ability-title BMC Control-M (2 years)
            %span.ability-score
              %span.glyphicon.glyphicon-star.filled
              %span.glyphicon.glyphicon-star.filled
              %span.glyphicon.glyphicon-star.filled
              %span.glyphicon.glyphicon-star
              %span.glyphicon.glyphicon-star
