<!-- Abilities section
================================================== -->
<div id="abilities" >
  <div class="container">
  <h1>Abilities</h1>
  <p class="lead"> &ldquo;Dynamic, self-governing, fast learner and out-of-the-box&rdquo;</p>
  <hr />
  <h3>Programming Skills</h3>
  <div class="row">
    <div class="col-md-6">
      <ul class="no-bullets">
        <li>
          <span class="ability-title">VBA</span>
          <span class="ability-score">
            <span class="glyphicon glyphicon-star filled"></span>
            <span class="glyphicon glyphicon-star filled"></span>
            <span class="glyphicon glyphicon-star filled"></span>
            <span class="glyphicon glyphicon-star filled"></span>
            <span class="glyphicon glyphicon-star "></span>
          </span>
        </li>
        <li>
          <span class="ability-title">Ruby on Rails</span>
          <span class="ability-score">
            <span class="glyphicon glyphicon-star filled"></span>
            <span class="glyphicon glyphicon-star filled"></span>
            <span class="glyphicon glyphicon-star "></span>
            <span class="glyphicon glyphicon-star "></span>
            <span class="glyphicon glyphicon-star "></span>
          </span>
        </li>
        <li>
          <span class="ability-title">SQL</span>
          <span class="ability-score">
            <span class="glyphicon glyphicon-star filled"></span>
            <span class="glyphicon glyphicon-star filled"></span>
            <span class="glyphicon glyphicon-star filled"></span>
            <span class="glyphicon glyphicon-star "></span>
            <span class="glyphicon glyphicon-star "></span>
          </span>
        </li>
      </ul>
    </div>
    <div class="col-md-6">
      <ul class="no-bullets">
        <li>
          <span class="ability-title">CSS(3)</span>
          <span class="ability-score">
            <span class="glyphicon glyphicon-star filled"></span>
            <span class="glyphicon glyphicon-star filled"></span>
            <span class="glyphicon glyphicon-star "></span>
            <span class="glyphicon glyphicon-star "></span>
            <span class="glyphicon glyphicon-star "></span>
          </span>
        </li>
        <li>
          <span class="ability-title">HTML(5)</span>
          <span class="ability-score">
            <span class="glyphicon glyphicon-star filled"></span>
            <span class="glyphicon glyphicon-star filled"></span>
            <span class="glyphicon glyphicon-star "></span>
            <span class="glyphicon glyphicon-star "></span>
            <span class="glyphicon glyphicon-star "></span>
          </span>
        </li>
        <li>
          <span class="ability-title">Unix Shell</span>
          <span class="ability-score">
            <span class="glyphicon glyphicon-star filled"></span>
            <span class="glyphicon glyphicon-star filled"></span>
            <span class="glyphicon glyphicon-star "></span>
            <span class="glyphicon glyphicon-star "></span>
            <span class="glyphicon glyphicon-star "></span>
          </span>
        </li>
      </ul>
    </div>
  </div>
  <div class="text-center">
    <p>This project was created in 2 days with no prior knowledge of Ruby on Rails ...
      I told you I was a fast learner</p>
    <a href="https://github.com/AntoinePetit24/resume" class="btn btn-primary" target="_blank">Have a look on Github</a>
  </div>
  <hr />
  <h3>Languages</h3>
  <div class="row">
    <div class="col-md-6">
      <ul class="no-bullets">
        <li>
          <span class="ability-title">French (Mother tongue)</span>
          <span class="ability-score">
            <span class="glyphicon glyphicon-star filled"></span>
            <span class="glyphicon glyphicon-star filled"></span>
            <span class="glyphicon glyphicon-star filled"></span>
            <span class="glyphicon glyphicon-star filled"></span>
            <span class="glyphicon glyphicon-star filled"></span>
          </span>
        </li>
        <li>
          <span class="ability-title">English (Daily use)</span>
          <span class="ability-score">
            <span class="glyphicon glyphicon-star filled"></span>
            <span class="glyphicon glyphicon-star filled"></span>
            <span class="glyphicon glyphicon-star filled"></span>
            <span class="glyphicon glyphicon-star filled"></span>
            <span class="glyphicon glyphicon-star filled"></span>
          </span>
        </li>
      </ul>
    </div>
    <div class="col-md-6">
      <ul class="no-bullets">
        <li>
          <span class="ability-title">Chinese Mandarin (Survivable)</span>
          <span class="ability-score">
          <span class="glyphicon glyphicon-star filled"></span>
          <span class="glyphicon glyphicon-star filled"></span>
          <span class="glyphicon glyphicon-star "></span>
          <span class="glyphicon glyphicon-star "></span>
          <span class="glyphicon glyphicon-star "></span>
          </span>
        </li>
      </ul>
    </div>
  </div>
  <hr />
  <h3>Office Tools</h3>
  <div class="row">
    <div class="col-md-6">
      <ul class="no-bullets">
        <li>
          <span class="ability-title">Microsoft Excel (10+ years)</span>
          <span class="ability-score">
            <span class="glyphicon glyphicon-star filled"></span>
            <span class="glyphicon glyphicon-star filled"></span>
            <span class="glyphicon glyphicon-star filled"></span>
            <span class="glyphicon glyphicon-star filled"></span>
            <span class="glyphicon glyphicon-star filled"></span>
          </span>
        </li>
        <li>
          <span class="ability-title">Microsoft Visio (3 years)</span>
          <span class="ability-score">
            <span class="glyphicon glyphicon-star filled"></span>
            <span class="glyphicon glyphicon-star filled"></span>
            <span class="glyphicon glyphicon-star filled"></span>
            <span class="glyphicon glyphicon-star filled"></span>
            <span class="glyphicon glyphicon-star filled"></span>
          </span>
        </li>
        <li>
          <span class="ability-title">Microsoft Word (10+ years)</span>
          <span class="ability-score">
            <span class="glyphicon glyphicon-star filled"></span>
            <span class="glyphicon glyphicon-star filled"></span>
            <span class="glyphicon glyphicon-star filled"></span>
            <span class="glyphicon glyphicon-star filled"></span>
            <span class="glyphicon glyphicon-star "></span>
          </span>
        </li>
        <li>
          <span class="ability-title">Microsoft PowerPoint (10+ years)</span>
          <span class="ability-score">
            <span class="glyphicon glyphicon-star filled"></span>
            <span class="glyphicon glyphicon-star filled"></span>
            <span class="glyphicon glyphicon-star filled"></span>
            <span class="glyphicon glyphicon-star filled"></span>
            <span class="glyphicon glyphicon-star "></span>
          </span>
        </li>
        <li>
          <span class="ability-title">Adobe Illustrator (personal usage)</span>
          <span class="ability-score">
            <span class="glyphicon glyphicon-star filled"></span>
            <span class="glyphicon glyphicon-star filled"></span>
            <span class="glyphicon glyphicon-star "></span>
            <span class="glyphicon glyphicon-star "></span>
            <span class="glyphicon glyphicon-star "></span>
          </span>
        </li>
      </ul>
    </div>
    <div class="col-md-6">
      <ul class="no-bullets">
        <li>
          <span class="ability-title">Windows 7 (5 years)</span>
          <span class="ability-score">
            <span class="glyphicon glyphicon-star filled"></span>
            <span class="glyphicon glyphicon-star filled"></span>
            <span class="glyphicon glyphicon-star filled"></span>
            <span class="glyphicon glyphicon-star filled"></span>
            <span class="glyphicon glyphicon-star "></span>
          </span>
        </li>
        <li>
          <span class="ability-title">Mac (2 years)</span>
          <span class="ability-score">
            <span class="glyphicon glyphicon-star filled"></span>
            <span class="glyphicon glyphicon-star filled"></span>
            <span class="glyphicon glyphicon-star filled"></span>
            <span class="glyphicon glyphicon-star "></span>
            <span class="glyphicon glyphicon-star "></span>
          </span>
        </li>
        <li>
          <span class="ability-title">ITRS Geneos (1 full year)</span>
          <span class="ability-score">
            <span class="glyphicon glyphicon-star filled"></span>
            <span class="glyphicon glyphicon-star filled"></span>
            <span class="glyphicon glyphicon-star filled"></span>
            <span class="glyphicon glyphicon-star filled"></span>
            <span class="glyphicon glyphicon-star "></span>
          </span>
        </li>
        <li>
          <span class="ability-title">BMC Control-M (2 years)</span>
          <span class="ability-score">
            <span class="glyphicon glyphicon-star filled"></span>
            <span class="glyphicon glyphicon-star filled"></span>
            <span class="glyphicon glyphicon-star filled"></span>
            <span class="glyphicon glyphicon-star "></span>
            <span class="glyphicon glyphicon-star "></span>
          </span>
        </li>
      </ul>
    </div>
  </div>
</div>
</div>
