<!DOCTYPE html>
<!--[if lt IE 7 ]>
<html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>
<html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>
<html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en"> <!--<![endif]-->

<div class="background-white">
  <div id="abilities" class="container">
    <h2>Abilities</h2>
<p class="lead">
&ldquo;Life without knowledge is death in disguise.&rdquo;<br />- Talib Kweli
</p>

<hr />

<h3>Skills</h3>

<div class="row">


<div class="col-md-6">
<ul class="no-bullets">


  <li>
    <span class="ability-title">CSS(3)</span>
    <span class="ability-score">

      <span class="glyphicon glyphicon-star filled"></span>
      <span class="glyphicon glyphicon-star filled"></span>
      <span class="glyphicon glyphicon-star filled"></span>
      <span class="glyphicon glyphicon-star filled"></span>
      <span class="glyphicon glyphicon-star filled"></span>

    </span>
  </li>



  <li>
    <span class="ability-title">HTML(5)</span>
    <span class="ability-score">


      <span class="glyphicon glyphicon-star filled"></span>


      <span class="glyphicon glyphicon-star filled"></span>


      <span class="glyphicon glyphicon-star filled"></span>


      <span class="glyphicon glyphicon-star filled"></span>


      <span class="glyphicon glyphicon-star filled"></span>


    </span>
  </li>



  <li>
    <span class="ability-title">JSON</span>
    <span class="ability-score">


      <span class="glyphicon glyphicon-star filled"></span>


      <span class="glyphicon glyphicon-star filled"></span>


      <span class="glyphicon glyphicon-star filled"></span>


      <span class="glyphicon glyphicon-star filled"></span>


      <span class="glyphicon glyphicon-star filled"></span>


    </span>
  </li>



  <li>
    <span class="ability-title">MySQL</span>
    <span class="ability-score">


      <span class="glyphicon glyphicon-star filled"></span>


      <span class="glyphicon glyphicon-star filled"></span>


      <span class="glyphicon glyphicon-star filled"></span>


      <span class="glyphicon glyphicon-star filled"></span>


      <span class="glyphicon glyphicon-star filled"></span>


    </span>
  </li>



  <li>
    <span class="ability-title">PHP</span>
    <span class="ability-score">


      <span class="glyphicon glyphicon-star filled"></span>


      <span class="glyphicon glyphicon-star filled"></span>


      <span class="glyphicon glyphicon-star filled"></span>


      <span class="glyphicon glyphicon-star filled"></span>


      <span class="glyphicon glyphicon-star filled"></span>


    </span>
  </li>



</ul>
</div>
<div class="col-md-6">
<ul class="no-bullets">

  <li>
    <span class="ability-title">BEM</span>
    <span class="ability-score">
      <span class="glyphicon glyphicon-star filled"></span>
      <span class="glyphicon glyphicon-star filled"></span>
      <span class="glyphicon glyphicon-star filled"></span>
      <span class="glyphicon glyphicon-star "></span>
      <span class="glyphicon glyphicon-star "></span>
    </span>
  </li>



  <li>
    <span class="ability-title">AngularJS</span>
    <span class="ability-score">


      <span class="glyphicon glyphicon-star filled"></span>


      <span class="glyphicon glyphicon-star filled"></span>


      <span class="glyphicon glyphicon-star "></span>


      <span class="glyphicon glyphicon-star "></span>


      <span class="glyphicon glyphicon-star "></span>


    </span>
  </li>



  <li>
    <span class="ability-title">ElasticSearch</span>
    <span class="ability-score">


      <span class="glyphicon glyphicon-star filled"></span>


      <span class="glyphicon glyphicon-star filled"></span>


      <span class="glyphicon glyphicon-star "></span>


      <span class="glyphicon glyphicon-star "></span>


      <span class="glyphicon glyphicon-star "></span>


    </span>
  </li>



  <li>
    <span class="ability-title">Ruby</span>
    <span class="ability-score">


      <span class="glyphicon glyphicon-star filled"></span>


      <span class="glyphicon glyphicon-star "></span>


      <span class="glyphicon glyphicon-star "></span>


      <span class="glyphicon glyphicon-star "></span>


      <span class="glyphicon glyphicon-star "></span>


    </span>
  </li>



</ul>
</div>


</div>

<div class="text-center project-referal">
<p>This project is build on a custom made PHP framework.</p>
<a href="https://github.com/pascalvgemert/resume" class="btn btn-primary" target="_blank">See project on Github</a>
</div>

<hr />

<h3>Languages</h3>

<div class="row">


<div class="col-md-6">
<ul class="no-bullets">


  <li>
    <span class="ability-title">Dutch (Mother tongue)</span>
    <span class="ability-score">


      <span class="glyphicon glyphicon-star filled"></span>


      <span class="glyphicon glyphicon-star filled"></span>


      <span class="glyphicon glyphicon-star filled"></span>


      <span class="glyphicon glyphicon-star filled"></span>


      <span class="glyphicon glyphicon-star filled"></span>


    </span>
  </li>



  <li>
    <span class="ability-title">English (Daily use)</span>
    <span class="ability-score">


      <span class="glyphicon glyphicon-star filled"></span>


      <span class="glyphicon glyphicon-star filled"></span>


      <span class="glyphicon glyphicon-star filled"></span>


      <span class="glyphicon glyphicon-star filled"></span>


      <span class="glyphicon glyphicon-star filled"></span>


    </span>
  </li>



</ul>
</div>
<div class="col-md-6">
<ul class="no-bullets">



  <li>
    <span class="ability-title">German (Survivable)</span>
    <span class="ability-score">


      <span class="glyphicon glyphicon-star filled"></span>


      <span class="glyphicon glyphicon-star filled"></span>


      <span class="glyphicon glyphicon-star "></span>


      <span class="glyphicon glyphicon-star "></span>


      <span class="glyphicon glyphicon-star "></span>


    </span>
  </li>



  <li>
    <span class="ability-title">French (Un petit peu)</span>
    <span class="ability-score">


      <span class="glyphicon glyphicon-star filled"></span>


      <span class="glyphicon glyphicon-star "></span>


      <span class="glyphicon glyphicon-star "></span>


      <span class="glyphicon glyphicon-star "></span>


      <span class="glyphicon glyphicon-star "></span>


    </span>
  </li>



</ul>
</div>


</div>

<hr />

<h3>Tools</h3>

<div class="row">

<div class="col-md-6">
<ul class="no-bullets">


  <li>
    <span class="ability-title">FileZilla (8 years)</span>
    <span class="ability-score">


      <span class="glyphicon glyphicon-star filled"></span>


      <span class="glyphicon glyphicon-star filled"></span>


      <span class="glyphicon glyphicon-star filled"></span>


      <span class="glyphicon glyphicon-star filled"></span>


      <span class="glyphicon glyphicon-star filled"></span>


    </span>
  </li>



  <li>
    <span class="ability-title">Firefox (8 years)</span>
    <span class="ability-score">


      <span class="glyphicon glyphicon-star filled"></span>


      <span class="glyphicon glyphicon-star filled"></span>


      <span class="glyphicon glyphicon-star filled"></span>


      <span class="glyphicon glyphicon-star filled"></span>


      <span class="glyphicon glyphicon-star filled"></span>


    </span>
  </li>



  <li>
    <span class="ability-title">MS Office (10+ years)</span>
    <span class="ability-score">


      <span class="glyphicon glyphicon-star filled"></span>


      <span class="glyphicon glyphicon-star filled"></span>


      <span class="glyphicon glyphicon-star filled"></span>


      <span class="glyphicon glyphicon-star filled"></span>


      <span class="glyphicon glyphicon-star filled"></span>


    </span>
  </li>



  <li>
    <span class="ability-title">Mac (5 years)</span>
    <span class="ability-score">


      <span class="glyphicon glyphicon-star filled"></span>


      <span class="glyphicon glyphicon-star filled"></span>


      <span class="glyphicon glyphicon-star filled"></span>


      <span class="glyphicon glyphicon-star filled"></span>


      <span class="glyphicon glyphicon-star filled"></span>


    </span>
  </li>



  <li>
    <span class="ability-title">Notepad++ (8 years)</span>
    <span class="ability-score">


      <span class="glyphicon glyphicon-star filled"></span>


      <span class="glyphicon glyphicon-star filled"></span>


      <span class="glyphicon glyphicon-star filled"></span>


      <span class="glyphicon glyphicon-star filled"></span>


      <span class="glyphicon glyphicon-star filled"></span>


    </span>
  </li>



  <li>
    <span class="ability-title">Webkit browsers (6 years)</span>
    <span class="ability-score">


      <span class="glyphicon glyphicon-star filled"></span>


      <span class="glyphicon glyphicon-star filled"></span>


      <span class="glyphicon glyphicon-star filled"></span>


      <span class="glyphicon glyphicon-star filled"></span>


      <span class="glyphicon glyphicon-star filled"></span>


    </span>
  </li>



  <li>
    <span class="ability-title">Windows (10+ years)</span>
    <span class="ability-score">


      <span class="glyphicon glyphicon-star filled"></span>


      <span class="glyphicon glyphicon-star filled"></span>


      <span class="glyphicon glyphicon-star filled"></span>


      <span class="glyphicon glyphicon-star filled"></span>


      <span class="glyphicon glyphicon-star filled"></span>


    </span>
  </li>



  <li>
    <span class="ability-title">Adobe Fireworks (8 years)</span>
    <span class="ability-score">


      <span class="glyphicon glyphicon-star filled"></span>


      <span class="glyphicon glyphicon-star filled"></span>


      <span class="glyphicon glyphicon-star filled"></span>


      <span class="glyphicon glyphicon-star filled"></span>


      <span class="glyphicon glyphicon-star "></span>


    </span>
  </li>



</ul>
</div>
<div class="col-md-6">
<ul class="no-bullets">



  <li>
    <span class="ability-title">Coda2 (3 years)</span>
    <span class="ability-score">


      <span class="glyphicon glyphicon-star filled"></span>


      <span class="glyphicon glyphicon-star filled"></span>


      <span class="glyphicon glyphicon-star filled"></span>


      <span class="glyphicon glyphicon-star filled"></span>


      <span class="glyphicon glyphicon-star "></span>


    </span>
  </li>



  <li>
    <span class="ability-title">Git / Git Flow (4 year)</span>
    <span class="ability-score">


      <span class="glyphicon glyphicon-star filled"></span>


      <span class="glyphicon glyphicon-star filled"></span>


      <span class="glyphicon glyphicon-star filled"></span>


      <span class="glyphicon glyphicon-star filled"></span>


      <span class="glyphicon glyphicon-star "></span>


    </span>
  </li>



  <li>
    <span class="ability-title">Internet Explore 6+ (8 years)</span>
    <span class="ability-score">


      <span class="glyphicon glyphicon-star filled"></span>


      <span class="glyphicon glyphicon-star filled"></span>


      <span class="glyphicon glyphicon-star filled"></span>


      <span class="glyphicon glyphicon-star filled"></span>


      <span class="glyphicon glyphicon-star "></span>


    </span>
  </li>



  <li>
    <span class="ability-title">MAMP (2 year)</span>
    <span class="ability-score">


      <span class="glyphicon glyphicon-star filled"></span>


      <span class="glyphicon glyphicon-star filled"></span>


      <span class="glyphicon glyphicon-star filled"></span>


      <span class="glyphicon glyphicon-star filled"></span>


      <span class="glyphicon glyphicon-star "></span>


    </span>
  </li>



  <li>
    <span class="ability-title">Stash (1 year)</span>
    <span class="ability-score">


      <span class="glyphicon glyphicon-star filled"></span>


      <span class="glyphicon glyphicon-star filled"></span>


      <span class="glyphicon glyphicon-star filled"></span>


      <span class="glyphicon glyphicon-star filled"></span>


      <span class="glyphicon glyphicon-star "></span>


    </span>
  </li>



  <li>
    <span class="ability-title">Sublime Text (2 years)</span>
    <span class="ability-score">


      <span class="glyphicon glyphicon-star filled"></span>


      <span class="glyphicon glyphicon-star filled"></span>


      <span class="glyphicon glyphicon-star filled"></span>


      <span class="glyphicon glyphicon-star filled"></span>


      <span class="glyphicon glyphicon-star "></span>


    </span>
  </li>



  <li>
    <span class="ability-title">Subversion (5 years)</span>
    <span class="ability-score">


      <span class="glyphicon glyphicon-star filled"></span>


      <span class="glyphicon glyphicon-star filled"></span>


      <span class="glyphicon glyphicon-star filled"></span>


      <span class="glyphicon glyphicon-star filled"></span>


      <span class="glyphicon glyphicon-star "></span>


    </span>
  </li>



  <li>
    <span class="ability-title">Adobe Photoshop (6 years)</span>
    <span class="ability-score">


      <span class="glyphicon glyphicon-star filled"></span>


      <span class="glyphicon glyphicon-star filled"></span>


      <span class="glyphicon glyphicon-star filled"></span>


      <span class="glyphicon glyphicon-star "></span>


      <span class="glyphicon glyphicon-star "></span>


    </span>
  </li>



</ul>
</div>

</div>			</div>
</div>
