<!-- Contact section
================================================== -->
<div id="section-contact">
    <div class="container">
        <h1>Contact</h1>
        <p class="lead">
        	&rdquo;Contact me anywhere, anytime, anyhow&rdquo;
        </p>
        <hr />
        <div class="row">
        	<div class="col-md-6">
        		<ul class="no-bullets">
        			<li>
        				<a href="https://hk.linkedin.com/in/antoine-petit-49458127" target="_blank">
        					<%= image_tag("icon/icon_linkedin-32.png", width: '40', height: '40', alt: 'LinkedIn', class: "image") %>
        					<span>linkedin.com/in/antoine-petit-49458127</span>
                </a>
        			</li>
        		</ul>
        	</div>
        	<div class="col-md-6">
        		<ul class="no-bullets">
        			<!--<li>
        				<a href="javascript:void(0);">
        					<span class="icon icon-skype"></span>
        					pascalvgemert				</a>
        			</li>-->
        			<li>
        				<a href="mailto:antoinepetit@live.fr">
                  <%= image_tag("icon/icon_email-32.png", width: '40', height: '40', alt: 'LinkedIn', class: "image") %>
        					<span>antoinepetit@live.fr</span>
        				</a>
        			</li>
        		</ul>
        	</div>
        </div>

        <hr />


      </div>
    </div>
