<!DOCTYPE html>
<!--[if lt IE 7 ]>
<html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>
<html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>
<html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en"> <!--<![endif]-->

<!-- Resume
                ================================================== -->
<div id="section-experience">
  <!-- // .section-title -->
  <div id="main-container" class="container">
    <h1>EXPERIENCES</h1>
    <!-- EDUCATION -->
    <div class="block">
      <h2>EDUCATION</h2>
      <div class="col-md-4">
        <h4>Telecom Sudparis</h4>
        <p class="date">Sept. 2010 - Jul. 2013</p>
        <p>
          <%= image_tag("flag_france.png", width: '20', height: '20', alt: 'France', class: "image") %>
          <span class="italic font-color-black"> Evry</span>
        </p>
      </div>
      <div class="col-md-8">
        <h3>Master - Management of Information Systems</h3>
        <p><span class="italic font-color-black">
          Master in Information Systems, including general knowledge in IT and Management,
          new business Start-up and strategic intelligences
        </span></p>
      </div>

      <div class="col-md-4">
        <h4>National University of Singapore</h4>
        <p class="date">Aug. 2012 - Dec. 2012</p>
        <p>
          <%= image_tag("flag_singapore.png", width: '20', height: '20', alt: 'Singapore', class: "image") %>
          <span class="italic font-color-black"> Evry</span>
        </p>
      </div>
      <div class="col-md-8">
        <h3>Non Graduate Program - Management of Information Systems</h3>
        <p><span class="italic font-color-black">
          Master in Information Systems, including general knowledge in IT and Management,
          new business Start-up and strategic intelligences
        </span></p>
      </div>

      <div class="col-md-4">
        <h4>Lycee du Parc</h4>
        <p class="date">Sept. 2018 - Jul. 2010</p>
        <p>
          <%= image_tag("flag_france.png", width: '20', height: '20', alt: 'France', class: "image") %>
          <span class="italic font-color-black"> Lyon</span>
        </p>
      </div>
      <div class="col-md-8">
        <h3>Classes Preparatoires</h3>
        <p><span class="italic font-color-black">
          Master in Information Systems, including general knowledge in IT and Management,
          new business Start-up and strategic intelligences
        </span></p>
      </div>


  </div>
  <!-- // .container -->
</div>
<!-- // #section-resume -->
