<!-- Head section
================================================== -->
<div id="section-head">
    <div class="container-fluid">
      <h1>Antoine Petit</h1>
      <hr>
      <p class="lead">Resume</p>
      <!--
      <div class="overlay"></div>
      -->
    </div>
</div>
