/Head section
/==================================================

#section-head
  .container-top
    .overlay
      .animated.bounceIn
        %h1 Antoine Petit
        %hr/
        %p.lead
          Analyst, entrepreneur, manager, designer, geek, self-governing, out-of-the-box
          and a million things between.
