<!-- Profile section
================================================== -->
<div id="section-profile">
  <div class="container">
    <h1>Profile</h1>
    <p class="lead">&ldquo;I'm a creative IT Project Manager&ldquo; </p>
    <hr>
    <div class="col-md-4">
      <h3>About me</h3>
      <p><span class="italic font-color-black">
        A dynamic IT project manager, eager to adapt and to react, focused on delivering out-of-the-box solutions
         and constantly looking for new things to learn.
       </span></p>
    </div>
    <div class="col-md-4 text-center">
      <div class="img_wrapper">
        <%= image_tag("profile.jpg", alt: 'Antoine Petit', class: "img_profile") %>
      </div>
    </div>
    <div class="col-md-4">
      <h3>Details</h3>
      <div class="col-md-4">
        <p><span class="italic font-color-black"> <b>Name</b></span></p>
      </div>
      <div class="col-md-8">
        <p><span class="italic font-color-black"> Antoine Petit</span></p>
      </div>
      <div class="col-md-4">
        <p><span class="italic font-color-black"> <b>Age</b></span></p>
      </div>
      <div class="col-md-8">
        <p><span class="italic font-color-black"> 27 years</span></p>
      </div>
      <div class="col-md-4">
        <p><span class="italic font-color-black"> <b>Current Location</b></span></p>
      </div>
      <div class="col-md-8">
        <p>
          <span class="italic font-color-black"> Hong Kong </span>
          <%= image_tag("flag_hong_kong.png", width: '20', height: '20', alt: 'Antoine Petit', class: "img_flag") %>
        </p>
      </div>
    </div>
  </div>
</div>
