/ Topbar section
/ ==================================================
#section-topbar
  #topbar-inner
    %ul#nav.nav{:role => "tablist"}
      %li.menu-item
        %a{:href => "#section-head", :title => "Antoine Petit"}
          %p.lead HOME
          /
            <haml_loud> image_tag("icon/icon_profile.png", alt: 'Antoine Petit', class: "image") </haml_loud>
      %li.menu-item
        %a{:href => "#section-profile", :title => "Profile"}
          %p.lead PROFILE
          /
            <haml_loud> image_tag("icon/icon_works.png", alt: 'Profile', class: "image") </haml_loud>
      %li.menu-item
        %a{:href => "#section-experience", :title => "Experience"}
          %p.lead EXPERIENCES
          /
            <haml_loud> image_tag("icon/icon_resume.png", alt: 'Experience', class: "image") </haml_loud>
      %li.menu-item
        %a{:href => "#abilities", :title => "Abilities"}
          %p.lead ABILITIES
          /
            <haml_loud> image_tag("icon/icon_awards.png", alt: 'Abilities', class: "image") </haml_loud>
      %li.menu-item
        %a{:href => "#section-contact", :title => "Contact"}
          %p.lead CONTACT
          /
            <haml_loud> image_tag("icon/icon_testimonials.png", alt: 'Contact', class: "image") </haml_loud>
  .clear
  .clear
