@import "bootstrap-sprockets";
@import "bootstrap";


// Global variables
//---------------------------------//

html, body {
  color: #444444;
  font-family: 'Open Sans', sans-serif !important;
  height: 100%;
  position: relative;
}
body {font-size: 15px;line-height: 1.64;}
hr { margin: 20px 0px; border-color: #727878; opacity: 0.2; filter:alpha(opacity=20); }

.btn-primary { background-color: SlateGray; border-color: Silver; }
.btn-primary:hover { background-color: DimGray;  border-color: Silver; }

h1 {
  font-size: 46px;
  font-family: 'Open Sans', sans-serif !important;
  color: #708090;
  text-align: center;
  margin-bottom: 20px;
  line-height: 1.1;
}

h2 {
  font-size: 32px;
  font-family: 'Open Sans', sans-serif !important;
  color: #708090;
  margin-bottom: 20px;
  line-height: 1.1;
}

h3 {
  font-size: 32px;
  font-family: 'Open Sans', sans-serif !important;
  color: #708090;
}

h4 {
  font-size: 18px;
  font-family: 'Open Sans', sans-serif !important;
  color: #708090;
}

p {
    margin: 0 0 10px;
}

p.lead {
  font-family: 'Open Sans', sans-serif !important;
  text-align: center;
  color: #727878;
}

.lead {
  margin-bottom: 20px;
  font-size: 22px;
  font-weight: 300;
  line-height: 1.4;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
}

.container {
  margin-right: auto;
  margin-left: auto;
  position: relative;
  max-width: 1280px;
  padding: 0 80px 0 80px;
}
@media only screen and (max-width: 460px) {
  .container{
    padding: 0;
  }
  .container-fluid{
    padding: 0;
  }
}

.text-center {
  padding-bottom: 20px;
}

ul.no-bullets {list-style-type: none;margin: 0px;padding: 0px;}

// Section Head
//---------------------------------//

#section-head .container-fluid {
  position: relative;
  padding: 200px;
  z-index: 10;
  background: no-repeat center fixed image-url('background8.jpg');
  background-size: cover;
  margin-bottom: 0px;
  position: relative;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

#section-head .overlay {
  background-color: #f8f8ff;
  border: 1px solid transparent;
  position: relative;
  padding: 10px;
  right: 10%;
  width: 660px;
  opacity: 0.80;
  filter:alpha(opacity=75);
}

// Section Topbar
//---------------------------------//

#topbar-inner {
    background: #f8f8ff;
    line-height: 0;
    text-align: center;
}

#section-topbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    overflow: visible;
    font: normal 16px/24px  'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
    border-bottom: 1px solid #eeeeee;
}

#section-topbar p.lead {
  font-size: 16px;
  color: #222;
  margin-bottom: 0px;
}

#section-topbar ul#nav {
    display: inline-block;
    position: relative;
    margin: 0;
    padding: 0;
    /* For IE, the outcast */
    zoom:1;
    *display: inline;
}

#section-topbar ul#nav > li {
    display: block;
    float: left;
    padding: 0;
}

#section-topbar ul#nav a {
    display: block;
    font: normal 11px/18px "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-decoration: none;
}

#section-topbar ul#nav a:hover {
    background: #dcdcdc;
    text-decoration: none;
}

#section-topbar ul#nav .active a {
    background: #f5f5f5;
}

#section-topbar ul#nav .active a:hover {
    background: #dcdcdc;
}

@media only screen and (max-width: 460px) {
    #section-topbar ul#nav img {
        width:25px;
    }
    #section-topbar ul#nav a {
        padding: 12px 12px 12px 12px;
    }
    #section-topbar ul#nav p.lead {
      font-size: 130%;
    }
}

/* jQuery UI tooltip for menu items */
.ui-tooltip {
    color: #eee;
    background: #222;
    padding: 10px 15px;
    font: normal 300 12px/22px 'Open Sans', "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: absolute;
    z-index: 9999;
    max-width: 300px;
}

body .ui-tooltip {
    border: none;
}

// Section Experience
//---------------------------------//

#section-experience .experience {
    margin-bottom: 20px;
}

#section-experience .experience p > strong {
    display: block;
    padding-top: 8px;
    margin-bottom: 10px;
}

#section-experience .hidden-phone {
  display: block;
  margin-bottom: 10px;
}

// Section Abilities
//---------------------------------//

#abilities {
    color: #666;
    background: White;
    font: normal 16px/26px 'PT Serif', Georgia, serif;
    padding: 60px 0 20px 0;
}

#abilities ul > li .ability-title {
    display: inline-block;
    width: 60%;
}

#abilities ul > li .ability-score {
  display: inline-block;
  float: right;
}

#abilities ul > li .ability-score .glyphicon.filled {
    color: #708090;
}
#abilities ul > li .ability-score .glyphicon {
    color: #DFE0E0;
    font-size: 14px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

#abilities ul > li:hover .ability-score .glyphicon { margin-left: 2px; }
#abilities ul > li:hover { background: #F2F2F2; }

// Section Profile
//---------------------------------//
#section-profile {
    background: White;
    font: normal 16px/26px 'PT Serif', Georgia, serif;
    padding: 60px 0 20px 0;
}

#section-profile .section-title {
    color: #44bbaa;
    padding: 50px 0;
    display: none;
}

#section-profile .col-md-4 {
    padding: 0;
}

#section-profile .img_wrapper {
  display: inline-block;
  overflow: hidden;
}
#section-profile .img_profile {
  height: 220px;
  width: 180px;
  -webkit-transition: all 0.5s ease; /* Safari and Chrome */
  -moz-transition: all 0.5s ease; /* Firefox */
  -ms-transition: all 0.5s ease; /* IE 9 */
  -o-transition: all 0.5s ease; /* Opera */
  transition: all 0.5s ease;
}

#section-profile .img_profile:hover {
  -webkit-transform:scale(1.25); /* Safari and Chrome */
  -moz-transform:scale(1.25); /* Firefox */
  -ms-transform:scale(1.25); /* IE 9 */
  -o-transform:scale(1.25); /* Opera */
  transform:scale(1.25);
}

// Section Experience
//---------------------------------//
#section-experience {
    color: #666;
    background: WhiteSmoke;
    font: normal 16px/26px 'PT Serif', Georgia, serif;
    padding: 60px 0 20px 0;
}

#section-experience .section-title {
    color: #44bbaa;
    padding: 50px 0;
    display: none;
}

#section-experience .block {
    margin-bottom: 40px;
}

// Section Contact
//---------------------------------//

#section-contact {
    background: #161616;
    font: normal 16px/26px 'PT Serif', Georgia, serif;
    padding: 60px 0 150px 0;
}

#section-contact h1 {
    color: Gainsboro;
}

#section-contact p.class {
    color: Silver;
}

#section-contact span {
    color: Silver;
    padding-left: 20px;
}

#section-contact a {
    margin-bottom: 200px;
}

#section-contact p.recommendation {
  color: #c0c0c0;
  font: italic 14px/24px 'museo_slab500', 'PT Serif', Georgia, serif;
  margin-top: 20px;
}

#section-contact p.recommendation-person {
  color: #999999;
  font: normal 13px/24px 'museo_slab500', 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-top: 10px;
  margin-bottom: -2px;
}

#section-contact p.recommendation-position {
  color: #646464;
  font: italic 13px/24px 'museo_slab500', 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
}

@media only screen and (max-width: 767px) {
  #section-contact {
    padding: 60px 0 0 0;
  }
  #section-contact input, #section-contact textarea, #section-contact select {
    width: 260px;
  }
}
